@media (prefers-color-scheme: light) {
  #banner {
      color: black;
      background-color: white;
  }
  #container {
      background-color: white;
      color: black;
  }
}
@media (prefers-color-scheme: dark) {
    #banner {
        color: white;
        background-color: black;
    }
    #container {
        color: white;
        background-color: black;
    }
}
@media (prefers-color-scheme: no-preference) {
    #banner {
        color: white;
        background-color: black;
    }
    #container {
        color: white;
        background-color: black;
    }
}

#header {
    display: flex;
    align-items: center;
    justify-content: center;
}

#daily-div {
    font-size: 40px;
}

.i:link {
    text-decoration: none;
    color: white;
}
.i:visited {
    color: white;
    text-decoration: none;
}

#media-div {
    font-size: 40px;
}